
body {
  background-color: #fff !important;
}

/*--------------------------------------------------
  [LOGIN]
----------------------------------------------------*/

.logo-login {
  margin: 0 auto;
  margin-top: 0px;
  padding: 15px;
  text-align: center;
}

/*--------------------------------------------------
  [END OF LOGIN]
----------------------------------------------------*/

.page-footer {
  margin: 0 auto;
  margin-top: 0px;
  padding: 15px;
  text-align: center;
  font-size:12px;
}